.preview-img {
  object-fit: cover;
  // margin-left: 2em;
  max-width: 45vw !important;
  border: 1px solid white;
  border-radius: 17px;
  background-color: $color-white;
  padding: 1em;
  border: 2px solid $color-soft-black;
  position: relative;
}
