.main-content {
  background-color: $color-crema;
}
.main-preview {
  // width: 40em;
  // height: 35em;
  // background-image: url('img/preview_img.png');
  background-repeat: no-repeat;
  display: flex;
  justify-content: start;
  margin: 3em;
  position: relative;
  z-index: 10;
}

.preview-container {
  // position: relative;
  display: flex;
  position: relative;
  justify-content: center;
}

.preview-container img {
  display: block;
}

.main-preview-layout {
  //   background-color: rgba(229, 209, 184, 0.25);
  padding: 5em;
  display: grid;
  gap: 3em;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  border-radius: $border-radius;
}
.preview-description {
  display: flex;
  flex-direction: column;
  justify-items: end;

  //   grid-template-columns: 3fr 2fr;
}

.preview-description > p {
  font-weight: bold;
  font-size: 1.3em;
  background-color: $color-white;
  padding: 1em;
  border-radius: $border-radius;
  border: 2px solid $color-soft-black;

  z-index: 10 !important;
}

.preview-img {
  object-fit: cover;
  // margin-left: 2em;
  max-width: 45vw !important;
  border: 1px solid white;
  border-radius: 17px;
  background-color: $color-white;
  padding: 1em;
  border: 2px solid $color-soft-black;
  position: relative;
}
.preview-btn {
  background-color: #2a8bd8 !important;
  width: 9em;
  z-index: 999 !important;
  font-weight: 600;
  border-radius: $border-radius;
  position: absolute;
  top: 55%;
  right: 30%;
}

@media screen and (max-width: 1024px) {
  .main-preview-layout {
    grid-template-columns: 1fr;
  }
  .preview-img {
    min-width: 100% !important;
  }

  .preview-btn {
    right: 40%;
  }
}
