@import 'utils/vars';
@import 'common/button';
@import 'common/border';
@import 'common/modal';
@import 'common/card';
@import 'common/wrapper';
@import 'common/navbar';
@import 'common/sidebar';
@import 'common/profile';
@import 'common/mainlayout';

@import 'common/font';
@import 'common/container';
@import 'common/layout';
@import 'common/icon';

@font-face {
  font-family: 'LiberationSans';
  src: url('fonts/LiberationSans-Regular.ttf') format('truetype');
}

body {
  color: $color-text;
  height: 100%;
}
